name: Keep workflows enabled
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
permissions:
  contents: write
jobs:
  keep-alive:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: 'keep-alive'
      - uses: gautamkrishnar/keepalive-workflow@v1
